<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>CV Siarhei Kuryanovich en</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../../static/css/headshot.jpg" alt="Siarhei Kuryanovich" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">SIARHEI KURYANOVICH</h1>
			<h2 class="quickFade delayThree">Python Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:pestibyen@gmail.com" target="_blank">pestibyen@gmail.com</a></li>
				<li>skype: <a>live:28135b7b404ab1c7</a></li>
				<li>phone: +375297038408</li>
				<li>address: Belarus, Minsk</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>Python Developer specialist with a focus on web development based on Django framework. Easy learning, hardworking. Capable of working under time pressure and stress conditions. Committed team player, self-motivated.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>English Proficiency:		Intermediate</li>
					<br>
					<li>Programming language:		Python 3 (Django)</li>
					<br>
					<li>Version Control System:		Git</li>
					<br>
					<li>Test Management Systems:	TestRail</li>
					<br>
					<li>Bug Tracking Systems:		Jira</li>
					<br>
					<li>Database Management:		MySQL, PostgreSQL , phpMyAdmin</li>
					<br>
					<li>Automation Testing Tools:	Selenium IDE</li>
					<br>
					<li>Webserver:					Apache 2.2</li>
					<br>
					<li>Tools:						PyCharm, Firebug, Pict, CMD, HTML and CSS basics</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h3>Engineer, CTV (ЗАО «Столичное телевидение») <a href="http://ctv.by">www.ctv.by</a></h3>
					<p class="subDetails">March 2004 – present time</p>
					<h3>Tasks and responsibilities:</h3>
					<ul>
						<li>Tasks related to the preparation of materials for broadcasting</li>
						<li>Video processing (encoding, video editing)</li>
						<li>Audio processing</li>
						<li>Playlist creation for broadcasting  server</li>
						<li>Developing software for automated playlist creation (VBA,XML)</li>
						<li>Work on live broadcast as part of the team</li>
					</ul>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h3>March 2017 – July 2017 – Educational Center of HTP</h3>
					<p>Course: Python Developer</p>
				</article>
				
				<article>
					<h3>December 2016 – January 2017 – Educational Center of HTP</h3>
					<p>Course: Designing web pages for programmers</p>
				</article>

				<article>
					<h3>August 2016 – October 2016 – Educational Center of HTP</h3>
					<p>Course: Functional Software Testing</p>
				</article>
				
				<article>
					<h3>September 1997 – June 2003 – Belarus State Economic University</h3>
					<p>Specialization: Economic Cybernetics</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Additional Information</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h3>Hobbies:</h3>
					<p>Exploring new technologies, strategy games</p>
				</article>
				
				<article>
					<h3>Military obligation status:</h3>
					<p>Reserve soldier</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Reason for applying for a job</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p>I like to learn new things and software development is an opportunity to realize themselves in new and interesting profession for me. I am an organized person who likes when work is done carefully and efficiently. I am a good communicator and it is easy for me to work well as part of a team and individually.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>